{{#if loggedIn}}
{{> private-navbar}}
{{else}}
{{> public-navbar}}
{{/if}}

<div>
  {{!-- #each = ist wie ein tag --}}
  {{!-- postMap wurde in home_routes bestimmt --}}
  {{#each postMap}}
    <div class="card border border-dark p-2 m-2">
      <div class="card-header">
        {{#if ../loggedIn}}
          <a href="/comment-post/{{id}}" id="comment-post">{{title}}</a>
        {{else}}
          {{title}}
        {{/if}}
        by
        {{user.username}} 
        on
        {{formatDate createdAt}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{content}}</p>
        </blockquote>
      </div>
    </div>
  {{/each}}
</div>