{{#if loggedIn}}
{{> private-navbar}}
{{else}}
{{> public-navbar}}
{{/if}}

<div>
  {{!-- #each = ist wie ein tag --}}
  {{!-- postMap wurde in home_routes bestimmt --}}
  {{#each postMap}}
  
    <div class="card border border-info m-1">
          <div class="card-header bg-light text-info">
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  {{#if ../loggedIn}}
                    <a href="/comment-post/{{id}}" id="comment-post">{{title}}</a>
                      {{else}}
                        <h4 class="mt-2">{{title}}</h4>
                      {{/if}}
                </div>      
                        <p class="text-secondary">by
                        {{user.username}} 
                        on
                        {{formatDate createdAt}}</p>
                
              </div>
            </div>
          </div>
          <div class="container">
            <div class="card-body p-0">
              <blockquote class="blockquote">
                <p class="mt-3">{{content}}</p>
              </blockquote>
            </div>
          </div>
    </div>
  {{/each}}
</div>